<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="heyloyalty" translate="label" sortOrder="130" showInDefault="1" showInStore="1" showInWebsite="1">
            <class>separator-top</class>
            <label>HeyLoyalty</label>
            <tab>sales</tab>
            <resource>Wexo_HeyLoyalty::settings</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Key</label>
                </field>
                <field id="api_secret" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Secret</label>
                </field>
                <field id="list" translate="label" sortOrder="30" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>List</label>
                    <source_model>Wexo\HeyLoyalty\Model\Config\Source\HeyLoyaltyList</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
